.desk {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.board {
  background-color: #dce7dc;
  height: 300px;
  width: 200px;
  margin: 5px;
  text-align: center;

  border-radius: 8px;
  border: 2px solid;
  cursor: grab;
}

.task {
  margin: 5px 0 5px 0;
  border: 1px red solid;
  border-radius: 8px;
  height: 40px;
}
